<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4C4EC8C1DC6A8C9001D400F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C4ECA01DC6A8C9001D400F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C4ECAB1DC6A8C9001D400F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
